@font-face {
    font-family: questrial;
    src: url("questrial.ttf") format("truetype");
}

html {
    height: 170%;
    width: 100%;
    overflow-x: hidden;
}


body {
    width: 95%;
    height: 100%;
    background-color: #1F0975;
    color: #FFFFFF;
    font-family: questrial, sans-serif;
    background-image: url("skrinosbckground.svg");
    background-repeat: no-repeat;
    background-size: cover;
}



#subheader {
    text-align: center;

    width: 100%;
}

.sectionheader {
    font-weight: bold;

}

.positiontitle {
    font-weight: bold;
}


.position {
    font-weight: bold;
    font-style: italic;

}

.college {
    font-weight: normal;
}




.split {
    height: 25px;
}

ul {
    margin: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    font-size: 1vw;
    margin-left: 0.5%;
}

#background {
    position: absolute;
    width: 100%;
    height: 100%;
}

.dark {
    background-color: #1F0975;
    color: white;
}

.light {
    color: white;
    background-color: white;
}

h2 {
    font-size: 2vw;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0.5%;
    position: relative;
}

li {
    font-size: 1vw;
}

h1 {
    font-size: 3vw;
    padding-top: 4%;
    text-align: center;
}

#subheader {
    float: right;
}

hr {
    border-top: 3px solid white;
    width: 105%;
}

#education {
    padding-top: 7%;
}

#work {
    padding-top: 4%;
}

#leadership {
    padding-top: 4%;
}

#information {
    padding-top: 4%;
}

.column {
    float: left;
    width: 50%;
    display: flex;

}

.row:after {
    content: "";
    clear: both;
    display: flex;
}

.row {
    margin-left: 0.25%;
}

.location,
.date {
    font-size: 1vw;
}

.panel {
    background-color: #aa89a0;
    color: white;
    border-radius: 5vw;
    height: 40%;
    width: 50%;
    margin-left: 25%;
    padding-bottom: 5%;
    padding-left: 2%;
    text-align: center;
}

#bottom {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1F0975;
    color: white;
    width: 30%;
    height: 10%;
    margin-bottom: 10vw;
    margin-top: 5vw;
}

.profilepic {
    width: 20%;
    height: 20%;
    float: right;

}

@media only screen and (max-width: 600px) {
    p {
        font-size: 5vw;
    }

    h2 {
        font-size: 10vw;
    }

    li {
        font-size: 5vw;
    }

    .column {
        width: 100%;
    }

    .location,
    .date {
        font-size: 5vw;
    }

    html {
        height: 100%;
    }

    body {
        margin: 5%;
        width: 90%;
        word-wrap: break-word;
        hyphens: auto;
        overflow-x: hidden;
    }

    h1 {
        padding-top: 10%;
        font-size: 10vw;
    }

    #education {
        padding-top: 15%;
    }

    #work {
        padding-top: 15%;
    }

    #leadership {
        padding-top: 15%;
    }

    #information {
        padding-top: 15%;
    }

    .panel {
        width: 100%;
        margin: 0;

    }

    .profilepic {
        width: 40%;
        height: 40%;
    }

    #bottom {
        margin: 0;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #1F0975;
        color: white;
        width: 70%;
        height: 20%;
        margin-bottom: 1vw;
        margin-top: 1vw;
    }
}